<!doctype html>
<html lang="en">
	<head>
		<title>Missile Tracker</title>
		<link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}">
		<script src="{{ static_url('js/Detector.js') }}"></script>
		<script src="{{ static_url('js/three-r87.min.js') }}"></script>
		<script src="{{ static_url('js/THREEx.KeyboardState.js') }}"></script>
		<script src="{{ static_url('js/THREEx.WindowResize.js') }}"></script>
		<script src="{{ static_url('js/jquery-3.2.1.min.js') }}"></script>
		<script src="{{ static_url('js/jquery-ui-1.12.1.custom') }}.min.js"></script>
		<script src="{{ static_url('js/RequestAnimationFrame.js') }}"></script>
		<script src="{{ static_url('js/ShaderExtras.js') }}"></script>

		<script src="{{ static_url('js/util.js') }}"></script>
		<script src="{{ static_url('js/mousekeyboard.js') }}"></script>
		<script src="{{ static_url('js/dataloading.js') }}"></script>
		<script src="{{ static_url('js/geopins.js') }}"></script>
		<script src="{{ static_url('js/visualize.js') }}"></script>
		<script src="{{ static_url('js/visualize_lines.js') }}"></script>
		<script src="{{ static_url('js/d3-4.11.0.min.js') }}"></script>
		<script src="{{ static_url('js/ui.controls.js') }}"></script>
		<script src="{{ static_url('js/hammer-2.0.8.min.js') }}"></script>
		<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
		
		<script type="x-shader/x-vertex" id="vertexshader">
			uniform float amplitude;
			attribute float size;
			attribute vec3 customColor;

			varying vec3 vColor;

			void main() {

				vColor = customColor;

				vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

				gl_PointSize = size;

				gl_Position = projectionMatrix * mvPosition;

			}
		</script>

		<script type="x-shader/x-fragment" id="fragmentshader">
			uniform vec3 color;
			uniform sampler2D texture;

			varying vec3 vColor;

			void main() {

				gl_FragColor = vec4( color * vColor, 1.0 );
				gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord );

			}
		</script>

		<!-- Custom Shader Code for atmospheric glow -->
		<script type="x-shader/x-vertex" id="vertexShaderAtmosphere">
			varying vec3 vNormal;
			varying vec3 vPosition;

			void main() {
				vNormal = normalize( normalMatrix * normal );
				vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
				vPosition = normalize( vec3( mvPosition.x, mvPosition.y, mvPosition.z ) );
				gl_Position = projectionMatrix * mvPosition;
			}
		</script>

		<!-- fragment shader a.k.a. pixel shader -->
		<script type="x-shader/x-vertex" id="fragmentShaderAtmosphere">
			varying vec3 vNormal;
			varying vec3 vPosition;

			void main() {
				float intensity = dot( vNormal, vPosition ) * 2.5 - 1.92;
				gl_FragColor = vec4( 1.0, 1.0, 1.0, 1.0 ) * intensity;
			}
		</script>

		<script src="{{ static_url('js/main.js') }}" type="text/javascript"></script>

		<style type="text/css">
			.parameters 
			{
				padding-right: 20px;
			}
		</style>

	</head>

	<body onload="start()" id="dataviz" class="">
		<div id="wrapper" class="span6">
			<div id="loading">
				<h2>System is initializing...</h2>
			</div>
			<div >
				<table id="marker_template" class="marker" style="left:'0px';top:'0px'">
					<tr><td><span id="detailText" class="detail">
						<td></td>
					</span></td></tr>
					<tr><td><span id="descriptionText" class="description"></span></td></tr>
				</table>
			</div>

		
			<div id="visualization" >
			<!-- 2D overlay elements go in here -->

				<div id="glContainer">
				<!-- 3D webgl canvas here -->
				</div>
			</div>

			<div id="hudHeader" class="overlayTests noPointer">
			<h1 class="noPointer">
				<div class="title">Missile Tracker</div>
				<div class="subtitle">hh</div>
			</h1>
			</div>


			<div  class="overlayTests noPointer">
			<h1 class="noPointer">
				<div class="title">Missile Tracker</div>
				<div class="subtitle">hh</div>
			</h1>
			</div>

			<div class="overlayTests row" id="hudButtons">
					<div class="hudButtonGroup span4">
						<input type="button" value="Parameters" class="aboutBtn testsBtn pointer">
						<input type="button" class="tiltBtn topViewBtn testsBtn pointer noMapDrag"><br />
						<input type="button" class="tiltBtn sideViewBtn testsBtn pointer noMapDrag">
					</div>
					<div class="hudButtonGroup span4">
						<input type="button" value="+" class="zoomBtn zoomInBtn testsBtn pointer noMapDrag"><br />
						<input type="button" value="—" class="zoomBtn zoomOutBtn testsBtn pointer noMapDrag">
					</div>
			</div>
		

		<div id="aboutContainer" class="overlayTests">
			<div id="aboutBox">
				<div class="title">Model Parameters</div>
				<div class="subtitle"><h4></h4></div>
				<div class="row">
					<table>
						<tbody>
							<tr>
								<th>Satellite</th>
							</tr>
							<tr>
								<th><a>Azimuth</a></th>
								<th><input type="" name=""></th>
							</tr>
							<tr>
								<th>Missile</th>
							</tr>
							<tr>
								<th><a>Speed</a></th>
								<th><input type="" name=""></th>
							</tr>
							<tr>
								<th><a>Elevation</a></th>
								<th><input type="" name=""></th>
							</tr>
							<tr>
								<th><a>Azimuth</a></th>
								<th><input type="" name=""></th>
							</tr>
							<tr>
								<th><a>Latitude</a></th>
								<th><input type="" name=""></th>
							</tr>
							<tr>
								<th><a>Longitude</a></th>
								<th><input type="" name=""></th>
							</tr>
							<tr>
								<th><a>Noise/singal Ratio</a></th>
								<th><input type="" name=""></th>
							</tr>
							<tr>
								<th><a>False alarm probablity</a></th>
								<th><input type="" name=""></th>
							</tr>
							<tr>
								<th><a>Strength</a></th>
								<th><input type="" name=""></th>
							</tr>
						</tbody>
					</table>
					<br>
					<button type="button" value="ABOUT" align="right" style="margin-left: 200px; ">RUN</button>
				</div>
			</div>
		</div>
			
		</div>
	</body>
</html>
<script type="text/javascript">
		var masterContainer = document.getElementById('visualization');

		var mapOutlineImage;		

		//	where in html to hold all our things
		var glContainer = document.getElementById( 'glContainer' );
		var dpr = window.devicePixelRatio ? window.devicePixelRatio : 1;		

		var lang = getLang();
		var dict;

		//	contains a list of facility codes with their matching facility names
		var facilityFile = "{{ static_url('data/facility.en.json') }}"
		//var facilityFile = 'data/facility.' + lang + '.json';
		//var missileFile = 'data/missile.' + lang + '.json';
		var missileFile = "{{ static_url('data/missile.en.json') }}"	
		//var dictFile = 'data/dict.' + lang + '.json';	
		var dictFile = "{{ static_url('data/dict.en.json') }}"	

		var camera, scene, renderer;
		var camera2s, scene2d;		

		var sphere;
		var rotating;
		var visualizationMesh;

//	contains the data loaded from the test data file
//	contains a list of years, followed by tests within that year
	var timeBins;	

	//	contains latlon data for each facility
	var latlonData;	

	//	contains above but organized as a mapped list via ['facilityname'] = facilityobject
	//	each facility object has data like center of facility in 3d space, lat lon and facility name
	var facilityData = new Object();
	var testData = new Object();	

	//	contains a list of missile code to missile name for running lookups
	var missileLookup;	

	var yearIndexLookup = {};
	var selectableTests = [];
	var summary;	

	//	a list of outcome 'codes'
	//	now they are just strings of categories
	//	Outcome Code : Outcome Node
	var outcomeLookup = {
		'success': 'Success',
		'failure': 'Failure',
		'unknown': 'Unknown'
	};	

	//	A list of missile colors
	var missileColors = {
		'er-scud' : 0x1A62A5,
		'hwasong-12' : 0x6C6C6C,
		'hwasong-14' : 0xAEB21A,
		'hwasong-15' : 0x1DB2C4,
		'kn-02': 0xB68982,
		'musudan': 0x9FBAE3,
		'nodong': 0xFD690F,
		'polaris-1': 0xFEAE65,
		'polaris-2': 0xDA5CB6,
		'scud-b': 0x279221,
		'scud-b-marv': 0xD2D479,
		'scud-c': 0x89DC78,
		'scud-c-marv': 0xBBBBBB,
		'taepodong-1': 0xCA0F1E,
		'unha': 0x814EAF,
		'unha-3': 0xB89FCB,
		'unknown': 0x78433B
	};	

	//	the currently selected test
	var selectedTest = null;
	var previouslySelectedTest = null;	

	//	contains info about what year, what tests, outcomes, missiles, etc that's being visualized
	var selectionData;	
</script>
<script type="text/javascript">
	function start(e) {
	//	detect for webgl and reject everything else
	if (!Detector.webgl) {
		Detector.addGetWebGLMessage();
	} else {
		loadLangCSS(lang);
		//	ensure the map images are loaded first!!
		mapOutlineImage = new Image();
		mapOutlineImage.src = "{{ static_url('images/map_outline.png') }}";
		mapOutlineImage.onload = function() {
			loadDictData(function() {
				document.title = "Miss Tracker";
				loadFacilityData(function() {
					loadMissileData(function() {
						loadTestData(function() {
							initScene();
							animate();
						});
					});
				});
			});
		};
	};
}
</script>
<script type="text/javascript">
	function loadTestData(callback) {
	//var filePath = 'data/test.' + lang + '.json';
	var filePath = "{{ static_url('data/test.en.json') }}"
	filePath = encodeURI( filePath );
	// console.log(filePath);

	xhr = new XMLHttpRequest();
	xhr.open( 'GET', filePath, true );
	xhr.onreadystatechange = function() {
		if ( xhr.readyState === 4 && xhr.status === 200 ) {
			timeBins = JSON.parse( xhr.responseText ).timeBins;

			maxValue = 0;

			startTime = timeBins[0].year;
			endTime = timeBins[timeBins.length - 1].year;
			timeLength = endTime - startTime;

			if(callback)
				callback();
			console.log("finished read data file");
		}
	};
	xhr.send( null );
}
</script>
<script type="text/javascript">
	function getVisualizedMesh( linearData, year, outcomeCategories, missileCategories ){
	//	pick out the year first from the data
	var indexFromYear = yearIndexLookup[year];

	var bin = linearData[indexFromYear].data;

	var linesGeo = new THREE.Geometry();
	var lineColors = [];

	/*
	var particlesGeo = new THREE.BufferGeometry();
	var particlePositions = [];
	var particleSizes = [];
	var particleColors = [];


	particlesGeo.vertices = [];
	**/

	//	go through the data from year, and find all relevant geometries
	for( i in bin ){
		var set = bin[i];
		console.log('((');
		console.log(set.lineGeometry);
		console.log('))');

		var relevantOutcomeCategory = $.inArray(set.outcome, outcomeCategories) >= 0;
		var relevantMissileCategory = $.inArray(set.missile, missileCategories) >= 0;

		if( relevantOutcomeCategory && relevantMissileCategory ){
			//	we may not have line geometry... (?)
			if( set.lineGeometry === undefined )
				continue;

			var lineColor = new THREE.Color(missileColors[set.missile]);

			var lastColor;
			//	grab the colors from the vertices 映射点和颜色
			for( s in set.lineGeometry.vertices ){
				var v = set.lineGeometry.vertices[s];
				lineColors.push(lineColor);
				lastColor = lineColor;
			}

			//	merge it all together
			console.log(set.lineGeometry);
			linesGeo.merge(set.lineGeometry);
        
			/*var particleColor = lastColor.clone();
			var points = set.lineGeometry.vertices;
			var particleCount = 1;
			var particleSize = set.lineGeometry.size * dpr;
			if (set === selectedTest) {
				particleCount *= 4;
				particleSize *= 2;
			}
			for( var rIndex=0; rIndex<points.length-1; rIndex++ ){
				for ( var s=0; s < particleCount; s++ ) {
					var point = points[rIndex];
					var particle = point.clone();
					particle.moveIndex = rIndex;
					particle.nextIndex = rIndex+1;
					if(particle.nextIndex >= points.length )
						particle.nextIndex = 0;
					particle.lerpN = 0;
					particle.path = points;
					particlesGeo.vertices.push( particle );
					particle.size = particleSize;

					particlePositions.push( particle.x, particle.y, particle.z );
					particleSizes.push( particleSize );
					particleColors.push( particleColor.r, particleColor.g, particleColor.b );
				}
			}*/


		}
	}


	linesGeo.colors = lineColors;

	//	make a final mesh out of this composite
	console.log(  'Type of:' + typeof(linesGeo) );
	var splineOutline = new THREE.Line( linesGeo, new THREE.LineBasicMaterial(
		{ 	color: 0xffffff, opacity: 1.0, blending:
			THREE.AdditiveBlending, transparent:true,
			depthWrite: false, vertexColors: true,
			linewidth: 1 } )
	);

    /** 动态粒子图的展示过程
	particlesGeo.addAttribute('position', new THREE.BufferAttribute(new Float32Array(particlePositions), 3));
	particlesGeo.addAttribute('size', new THREE.BufferAttribute(new Float32Array(particleSizes), 1));
	particlesGeo.addAttribute('customColor', new THREE.BufferAttribute(new Float32Array(particleColors), 3));

	uniforms = {
		amplitude: { type: "f", value: 1.0 },
		color:     { type: "c", value: new THREE.Color( 0xffffff ) },
		texture:   { type: "t", value: new THREE.TextureLoader().load( 
			"{{ static_url('images/particleA.png') }}")},
	};

	var shaderMaterial = new THREE.ShaderMaterial( {

		uniforms:		uniforms,
		vertexShader:	document.getElementById( 'vertexshader' ).textContent,
		fragmentShader:	document.getElementById( 'fragmentshader' ).textContent,

		blending:		THREE.AdditiveBlending,
		depthTest:		true,
		depthWrite:		false,
		transparent:	true,
		// sizeAttenuation: true,
	});
	**/



	/**
     粒子点动态展示的部分
	**/
	/*
	var pSystem = new THREE.Points( particlesGeo, shaderMaterial );
	pSystem.dynamic = true;
	splineOutline.add( pSystem );

	pSystem.update = function(){
		// var time = Date.now();
		var positionArray = this.geometry.attributes.position.array;
		var index = 0;
		for( var i in this.geometry.vertices ){
			var particle = this.geometry.vertices[i];
			var path = particle.path;
			var moveLength = path.length;

			particle.lerpN += 0.05;
			if(particle.lerpN > 1){
				particle.lerpN = 0;
				particle.moveIndex = particle.nextIndex;
				particle.nextIndex++;
				if( particle.nextIndex >= path.length ){
					particle.moveIndex = 0;
					particle.nextIndex = 1;
				}
			}

			var currentPoint = path[particle.moveIndex];
			var nextPoint = path[particle.nextIndex];


			particle.copy( currentPoint );
			particle.lerp( nextPoint, particle.lerpN );

			positionArray[index++] = particle.x;
			positionArray[index++] = particle.y;
			positionArray[index++] = particle.z;
		}
		this.geometry.attributes.position.needsUpdate = true;
	};*/

	//	return this info as part of the mesh package, we'll use this in selectvisualization


	return splineOutline;
}
</script>
<script type="text/javascript">
	function laglat2xyz(longtitude, latitude) {
		var rad = 100;
		var lon = longtitude - 90;
		var lat = latitude;
		var phi = Math.PI/2 - lat * Math.PI / 180;
		var theta = 2 * Math.PI - (lon - 9.9) * Math.PI / 180;

		x = Math.sin(phi) * Math.cos(theta) * rad;
		y = Math.cos(phi) * rad;
		z = Math.sin(phi) * Math.sin(theta) * rad;
		return {'x': x, 'y': y, 'z': z}
	}
</script>