<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>卫星模拟系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/flat-ui.min.css') }}"   rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/index.css') }}">
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/flat-ui.min.js') }}"></script>
    <script src="{{ static_url('js/three.js') }}"></script>
    <script src="{{ static_url('js/Projector.js') }}"></script>
    <script src="{{ static_url('js/CanvasRenderer.js') }}"></script>
    <script src="{{ static_url('js/stats.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/echarts.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/echarts-gl.min.js') }}"></script>
    <style type="text/css">
      .missile 
      {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body onload='onLoad();'>
    <div id="navigation">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#" style="">卫星模拟系统</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
          <form class="navbar-form navbar-right" action="#" role="search">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                <span class="input-group-btn">
                  <button type="submit" class="btn"><span class="fui-search"></span></button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </nav>
    </div>
    <div class="container row-fluid">
    	<div class="col-md-4">
        <div id="overview" class="section">
            <div class="header">
                <h5><i class="fa fa-desktop"></i> 参数</h5>
                <a href="javascript:void(0)">
                    <i class="fa fa-caret-down"></i>
                </a>
            </div> <!-- .header -->
            <div class="body">
              <div class="row-fluid">
                <p><b>同步卫星参数</b></p>
              </div>
              <div class="row-fluid" >
                    <div class="col-md-7">同步卫星1方位角</div>
                    <div class="col-md-5 missile">
                      <input class="form-control" id="sat1" value=120>
                    </div> <!-- .span8 -->
              </div> <!-- .row-fluid -->
              <div class="row-fluid">
                <div class="col-md-7">同步卫星2方位角</div>
                <div class="col-md-5 missile">
                      <input class="form-control" id="sat2" value=0 >
                </div> 
              </div>
              <div class="row-fluid">
                <div class="col-md-7">同步卫星3方位角</div>
                <div class="col-md-5 missile">
                      <input class="form-control" id="sat3" value=240>
                </div> 
              </div>
              <div class="row-fluid">
                <p><b>导弹参数</b></p>
              </div>
              <div class="row-fluid" >
                    <div class="col-md-6">初速度</div>
                    <div class="col-md-6 missile">
                      <input class="form-control" value=5000 id="v0">
                    </div> <!-- .span8 -->
              </div> <!-- .row-fluid -->
              <div class="row-fluid" >
                    <div class="col-md-6">仰角</div>
                    <div class="col-md-6 missile">
                      <input class="form-control" value=30 id="a">
                    </div> <!-- .span8 -->
              </div> <!-- .row-fluid -->
              <div class="row-fluid">
                  <div class="col-md-6">方位角</div>
                  <div class="col-md-6 missile">
                    <input class="form-control" value=10 id="MA0">
                  </div>
              </div>
              <div class="row-fluid">
                  <div class="col-md-6">纬度</div>
                  <div class="col-md-6 missile">
                    <input class="form-control" value=5 id="Mq0">
                  </div>
              </div>
              <div class="row-fluid">
                  <div class="col-md-6">经度</div>
                  <div class="col-md-6 missile">
                    <input class="form-control" value=126.23 id="Ma0">
                  </div>
              </div>

              <div class="row-fluid">
                  <div class="col-md-6">虚警概率</div>
                  <div class="col-md-6 missile">
                    <input class="form-control" value=0.00001 id="pj">
                  </div>
              </div>
              <div class="row-fluid">
                  <div class="col-md-6">尾焰燃烧强度</div>
                  <div class="col-md-6 missile">
                    <input class="form-control" value=40000 id="Ri">
                  </div>
              </div>
              <div class="row-fluid">
                  <div class="col-md-6">信噪比阈值</div>
                  <div class="col-md-6 missile">
                    <input class="form-control" value=28 id="snr">
                  </div>
              </div>
            </div> <!-- .body -->
            <button class="btn btn-embossed btn-primary col-md-12 missile" id="submit" onclick="sendMsg()">
          提交
            </button>
        </div> <!-- .section -->


        <button class="btn btn-embossed btn-primary col-md-12 missile" id="orbitBtn">
          3D轨迹绘制
        </button>
      </div><!--/.col-md-->

      <div class="col-md-8">
        <div class="alert alert-warning " style="display: none">
          <a href="#" class="close" data-dismiss="alert">
            &times;
          </a>
          <strong>警告！</strong>您的输入数据有问题。
        </div>
        <div class="section">
          <div class="header">
            <h5><i class="fa fa-desktop"></i>轨迹追踪</h5>
                <a href="javascript:void(0)">
                    <i class="fa fa-caret-down"></i>
                </a>
          </div>
          <div class="body" >
      		  <div id="container" style="width: 700px;height: 700px"></div>
      	  </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="section row-fluid">
        <div class="header">
          <h5><i class="fa fa-desktop"></i> 实时数据</h5>
            <a href="javascript:void(0)">
              <i class="fa fa-caret-down"></i>
            </a>
        </div>
        <div class="body ">
          <div class="row-fluid col-md-12" ><b>卫星数据</b></div>
          <div class="row-fluid col-md-12">
            <div class="col-md-3">探测概率</div>
            <div class="col-md-3"><p id="prob">0%</p></div>
            <div class="col-md-3">方位角</div>
            <div class="col-md-3" ><p id="Sa">0°</p></div>
          </div>
          <div class="row-fluid col-md-12">
            <div class="col-md-3">最大探测距离</div>
            <div class="col-md-3" ><p id="MR">0KM</p></div>
            <div class="col-md-3">接收红外辐射强度</div>
            <div class="col-md-3"><p id="St">0 W/Sr</p></div>
          </div>
          <div class="row-fluid col-md-12">
            <div class="col-md-3">接收大气背景噪声</div>
            <div class="col-md-3"><p id="airn">0DB</p></div>
            <div class="col-md-3">卫星自身噪声</div>
            <div class="col-md-3" id="no">0DB</div>
          </div>
          <div class="row-fluid col-md-12" ><b>导弹数据</b></div>
          <div class="row-fluid col-md-12">
            <div class="col-md-3">导弹纬度</div>
            <div class="col-md-3"><p id="missileLng">-°</p></div>
            <div class="col-md-3">导弹经度</div>
            <div class="col-md-3"><p id="missileLat">-°</p></div>
          </div>
          <div class="col-md-12 row-fluid">
            <div class="col-md-3">坐标系水平位移</div>
            <div class="col-md-3"><p id="MX">0KM</p></div>
            <div class="col-md-3">坐标系竖直位移</div>
            <div class="col-md-3"><p id="MY">0KM</p></div>
          </div>
          <div class="col-md-12 row-fluid">
            <div class="col-md-3">球坐标</div>
            <div class="col-md-3"><p id="Mr">0KM</p></div>
            <div class="col-md-3"><p id="Mq">0rad</p></div>
            <div class="col-md-3"><p id="Ma">0rad</p></div>
          </div>
          <div class="col-md-12 row-fluid">
            <div class="col-md-3">与卫星1距离</div>
            <div class="col-md-3"><p id="RD">0KM</p></div>
            <div class="col-md-3">与卫星2距离</div> 
            <div class="col-md-3"><p id="RD2">0KM</p></div>
          </div>
          <div class="col-md-12 row-fluid">
            <div class="col-md-3">与卫星3距离</div>
            <div class="col-md-3"><p id="RD3">0KM</p></div>
          </div>
        </div>
      </div>
  </div>

</body>
<script type="text/javascript">

  /*
    Globe variable : 
      chart : The container show the real lnglat data on the 
        global earth.
      routes ： The array stores the data of missiles and sateilltes. 
  */
var chart = echarts.init(document.getElementById('container'));
var routes = [
    [
      [0, 0], 
      [0, 0]
    ]
  ]
var satelliteRoute = []
var option = {};
var series = []
</script>
<script type="text/javascript">
  $(function() {
    sateillteInit();
    chartInit();
    $('#orbitBtn').attr('disabled', true);
  });
</script>
<script type="text/javascript">
  function chartInit() {
    series.push({
        type: 'lines3D',
        coordinateSystem: 'globe',
        blendMode: 'lighter',
        lineStyle: {
          width: 4,
          color: '#006000',
          opacity: 0.01
        },

        effect: {
          show: true,
          period: 4,
          trailLength: 0.02,
          symbol: 'arrow',
          symbolSize: 5,
        },
        data: satelliteRoute
      }
    );

    series.push({
        type: 'lines3D',
        coordinateSystem: 'globe',
        blendMode: 'lighter',
        lineStyle: {
          width: 2,
          color: '#3A5FCD',
          opacity: 0.9
        },

        effect: {
          show: true,
          period: 4,
          trailLength: 0.02,
          symbol: 'arrow',
          symbolSize: 5,
        },
        data: routes
      }
    );

    option = {
      backgroundColor: '#000',
      globe: {
          baseTexture: "{{ static_url('images/earth.jpeg')}}",
          //heightTexture: '/asset/get/s/data-1491889019097-rJQYikcpl.jpg',
          shading: 'lambert',
          light: {
              ambient: {
                  intensity: 0.3
              },
              main: {
                  intensity: 0.3
              }
          },
          viewControl: {
              autoRotate: true,
              targetCoord: [0, 0],
              autoRotateSpeed: 0.006146540
              //[116.46, 39.92]
          }
      },
      series: series
    }

    chart.setOption(option);
  }
</script>
<script type="text/javascript">
  function sateillteInit() {
    for(var i = 0; i < 90; i+= 0.5)
    {
      var start = [i*1, 0];
      var end   = [90 + i, 0];
      var raduis = [];
      var revRaduis = []
      raduis.push(start);
      raduis.push(end);
      revRaduis.push(-start);
      revRaduis.push(-end);
      satelliteRoute.push(raduis);
    }   

    for(var i = 45; i < 135; i+= 0.5)
    {
      var start = [i*1, 0];
      var end   = [90 + i, 0];
      var raduis = [];
      var revRaduis = []
      raduis.push(start);
      raduis.push(end);
      revRaduis.push(-start);
      revRaduis.push(-end);
      satelliteRoute.push(raduis);
    }   

    for(var i = 90; i < 180; i+= 0.5)
    {
      var start = [i*1, 0];
      var end   = [90 + i, 0];
      var raduis = [];
      var revRaduis = []
      raduis.push(start);
      raduis.push(end);
      revRaduis.push(-start);
      revRaduis.push(-end);
      satelliteRoute.push(raduis);
    }   

    for(var i = 135; i < 225; i+= 0.5)
    {
      var start = [i*1, 0];
      var end   = [90 + i, 0];
      var raduis = [];
      var revRaduis = []
      raduis.push(start);
      raduis.push(end);
      revRaduis.push(-start);
      revRaduis.push(-end);
      satelliteRoute.push(raduis);
    }   

    for(var i = 180; i < 270; i+= 0.5)
    {
      var start = [i*1, 0];
      var end   = [90 + i, 0];
      var raduis = [];
      var revRaduis = []
      raduis.push(start);
      raduis.push(end);
      revRaduis.push(-start);
      revRaduis.push(-end);
      satelliteRoute.push(raduis);
    }   

    for(var i = 225; i < 315; i+= 0.5)
    {
      var start = [i*1, 0];
      var end   = [90 + i, 0];
      var raduis = [];
      var revRaduis = []
      raduis.push(start);
      raduis.push(end);
      revRaduis.push(-start);
      revRaduis.push(-end);
      satelliteRoute.push(raduis);
    }
  }
</script>
<script type="text/javascript">
  function realTimeDataUpdate(data) {
    $('#prob').text(data['prob'] + '%');
    $('#missileLng').text(data['lng'] + '°');
    $('#missileLat').text(data['lat'] + '°');
    $('#Sa').text(data['Sa'] + '°');
    $('#MR').text(data['MR'] + 'KM');
    $('#St').text(data['St'] + 'e-12W/Sr');
    $('#airn').text(data['airn'] + 'DB');
    $('#no').text(data['no'] + 'e-12DB');
    $('#MX').text(data['MX'] + 'KM');
    $('#MY').text(data['MY'] + 'KM');
    $('#Mr').text(data['Mr'] + 'KM');
    $('#Mq').text(data['Mq'] + 'rad');
    $('#Ma').text(data['Ma'] + 'rad');
    $('#RD').text(data['RD'] + 'KM');
    $('#RD2').text(data['RD2'] + 'KM');
    $('#RD3').text(data['RD3'] + 'KM');
  }
</script>
<script type="text/javascript">
  function missilleRouteUpdate(lng, lat) {
    routes[0][1][0] = lng;
    routes[0][1][1] = lat;
    option.data = routes;
    option.globe.viewControl.targetCoord = [lng, lat]
    chart.setOption(option);
  }
</script>
<script type="text/javascript">  
    var ws;  
    function onLoad(){  
        ws = new WebSocket("ws://localhost:8000/ws");  
        ws.onmessage = function(e){  
            //alert(e.data)
            console.log(e.data);
            var data = JSON.parse(e.data);
            if( typeof(data['prob']) == 'undefined') {
              
            } else {
              realTimeDataUpdate(data);
              missilleRouteUpdate(data['lng'], data['lat']);
            }
        }
        ws.onclose = function(e) {
           //reconnect();
           console.log('Websocket disconnection!');
        }  
    }  
    function sendMsg(){
        var args = {
          'v0': null,
          'a': null,
          'MA0': null,
          'Mq0': null,
          'Ma0': null,
          'pj': null,
          'Ri': null,
          'snr': null,
          'sat1': null,
          'sat2': null,
          'sat3': null
        };

        routes[0][0][0] = parseFloat($('#Ma0').val());
        routes[0][0][1] = parseFloat($('#Mq0').val());
        option.data = routes;

        for(var i = 1; i < 4; i ++) {
          updateSateillte("卫星"+i, parseFloat($('#sat'+i).val()));
        }

        for(var key in args) {
          //console.log(key);
          args[key] = $('#' + key).val()
        }

        ws.send(JSON.stringify(args));  
    }  
</script>
<script type="text/javascript">
  function updateSateillte(name, lng) {
    series.push({
        name: 'sateillteOne',
        type: 'scatter3D',
        coordinateSystem: 'globe',
        zlevel: 8,
        rippleEffect: {
            brushType: 'stroke'
        },
        label: {
            normal: {
                show: true,
                position: 'right',
                formatter: '{b}'
            }
        },
        symbolSize:30, 

        itemStyle: {
            normal: {
                areaColor:'#fff',
                color: '#3A5FCD'
            }
        },
        data: [{
                name: name,
                value: [lng, 0]}]
      }
    );
  chart.setOption(option);
  }
</script>
</html>
