<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>卫星模拟系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/flat-ui.min.css') }}"   rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/index.css') }}">
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/flat-ui.min.js') }}"></script>
    <script src="{{ static_url('js/three.js') }}"></script>
    <script src="{{ static_url('js/Projector.js') }}"></script>
    <script src="{{ static_url('js/CanvasRenderer.js') }}"></script>
    <script src="{{ static_url('js/stats.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/echarts.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/echarts-gl.min.js') }}"></script>
  </head>
  <body>
    <div id="navigation">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#" style="">卫星模拟系统</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
          <form class="navbar-form navbar-right" action="#" role="search">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                <span class="input-group-btn">
                  <button type="submit" class="btn"><span class="fui-search"></span></button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </nav>
    </div>
    <div class="container">
    	      <div class="col-md-4">
        <div id="overview" class="section">
            <div class="header">
                <h5><i class="fa fa-desktop"></i> 参数</h5>
                <a href="javascript:void(0)">
                    <i class="fa fa-caret-down"></i>
                </a>
            </div> <!-- .header -->
            <div class="body">
            	<div><p>接收来自后端的参数</p></div>
            </div> <!-- .body -->
        </div> <!-- .section -->

        <div class="section">
          <div class="header">
            <h5><i class="fa fa-desktop"></i> 实时数据</h5>
              <a href="javascript:void(0)">
                <i class="fa fa-caret-down"></i>
              </a>
          </div>
          <div class="body">
          	<div><p>实时数据展示区域</p></div>
          </div>
        </div>
        <button class="btn btn-embossed btn-primary col-md-12" id="submit">
          提交
        </button>
      </div><!--/.col-md-->
    <!-- /.container -->
      <div class="col-md-8">
        <div class="alert alert-warning " style="display: none">
          <a href="#" class="close" data-dismiss="alert">
            &times;
          </a>
          <strong>警告！</strong>您的输入数据有问题。
        </div>
        <div class="section">
          <div class="header">
            <h5><i class="fa fa-desktop"></i>数据可视化区域</h5>
                <a href="javascript:void(0)">
                    <i class="fa fa-caret-down"></i>
                </a>
          </div>
          <div class="body" >
      		  <div id="container" style="width: 640px;height: 600px"></div>
      	  </div>
        </div>
      </div>
</body>
<script type="text/javascript">
var chart = echarts.init(document.getElementById('container'));
var data = [];

option = {
    tooltip: {},
    visualMap: {
        show: false,
        dimension: 2,
        min: 10,
        max: 40,
        inRange: {
            color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
        }
    },
    xAxis3D: {},
    yAxis3D: {},
    zAxis3D: {},
    grid3D: {},
    series: [{
        type: 'surface',
        parametric: true,
        // shading: 'albedo',
        parametricEquation: {
            u: {
                min: -Math.PI,
                max: Math.PI,
                step: Math.PI / 20
            },
            v: {
                min: 0,
                max: Math.PI,
                step: Math.PI / 20
            },
            x: function (u, v) {
                return Math.sin(v) * Math.sin(u);
            },
            y: function (u, v) {
                return Math.sin(v) * Math.cos(u);
            },
            z: function (u, v) {
                return Math.cos(v);
            }
        }
    },{
        type: 'line3D',
        data: data,
        lineStyle: {
            width: 4
        }
    }]
};
chart.setOption(option)
</script>
</html>